
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Arial,sans-serif;
    font-size: 13px;
    color: #555;
  }

.active {
  background-color: #1D77d0;
  color: #FFFFFF !important;
}