.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1440px;
  height: 60px;
}

.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  img{
    margin-right: 43px;
  }

  .api {
   height: 11px;
   width: 20px; 
  }
  .changeLog {
    height: 18px;
    width: 18px; 
   }
}