header {
    line-height: 1.615;
    background: #F6F6F6;
    width: 100%;
    max-width: 960px;
    border-top: 7px solid #1c74cc;
    padding: 50px 20px 20px;

    .navbar {
      display: flex;
    }

    input {
      background: transparent;
      border: 0;
      width: 148px;
      height: 20px;
      padding: 5px 8px;
      color: #777;
      font-family: Tahoma, Arail, Sans-serif;
      font-size: 11px;
    }

    .isActive {
      background-color: #1D77d0;
      color: #FFFFFF;
    }

    .search-form {
      border-radius: 5px 5px 0 0;
      border: 1px solid #777;
      border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 30px;
        height: 20px;
      }
    }

}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 60px;
  margin-bottom: 10px;
}

svg {
  display: inline-block;
  vertical-align: top;
}

.wrapper {
  font-family: "Calibre","Trebuchet MS",Arial,sans-serif;
  font-weight: 13px;
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
  padding: 0 20px 0 20px;

}

.wrapper h1 {
  display: flex;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}