.bcblue {
  background-color: #3d55ae;
}

.bcpink {
  background-color: #eacfff;
}

.bcwhite {
  background: #ffffff;
}

.bcbeige {
  background-color: #ffcece;
}

.bclightbeige{
  background-color: #FFF1F1;
}

.bclightpink{
   background-color: #F6EAFF;
}
