.bcblue {
  background-color: #3d55ae;
}

.bclightblue {
  background-color: #4b68d2;
}

.bcpink {
  background-color: #eacfff;
}

.bcwhite {
  background: #ffffff;
}

.bcbeige {
  background-color: #ffcece;
}

.bclightbeige {
  background-color: #fff1f1;
}

.bclightpink {
  background-color: #f6eaff;
}
