/* //Auxiliary border for selection  */
.bd {
  border: 1px solid red;
}
/*  Commom border sets */

// #E3E3E3

.borderE3 {
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
}

.borderRightE3 {
  box-sizing: border-box;
  border-right: 1px solid #e3e3e3;
}

.borderBottomE3 {
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3;
}

// #A5A5A5

.borderA5 {
  border: 1px solid #a5a5a5;
}

// #C5C5C5

.borderC5 {
  border: 1px solid #c5c5c5;
}

.borderBottomC5 {
  box-sizing: border-box;
  border-bottom: 1px solid #c5c5c5;
}

// None

.borderTopNone {
  box-sizing: border-box;
  border-top: none;
}

.borderBottonNone {
  box-sizing: border-box;
  border-bottom: none;
}

/* Border Radius */

.br3 {
  box-sizing: border-box;
  border-radius: 3px;
}

.br5 {
  box-sizing: border-box;
  border-radius: 5px;
}

/* border-radius-top */
.brt5 {
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.brt5 {
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.brt10 {
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.brt20 {
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.brt50 {
  box-sizing: border-box;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* border-radius-bottom */

.brb5 {
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.brb10 {
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.brb20 {
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.brb50 {
  box-sizing: border-box;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* border-radius-left */

.brl5 {
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.brl10 {
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.brl20 {
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.brl50 {
  box-sizing: border-box;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* border-radius-right */

.brr5 {
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.brr10 {
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.brr20 {
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.brr50 {
  box-sizing: border-box;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
