.button-pagination-left-right {
  display: flex;
  flex-direction: row;
  min-width: 55px;
  justify-content: space-between;

  .button{
    height: 24px;
    width: 24px;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}