/* no-font-color */

/* line-height */

.lh0 {
  line-height: 100%;
}

/* without color */

.fs10-fw400 {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Work Sans';
}

.fs10-fw500 {
  font-size: 10px;
  font-weight: 500;
  font-family: 'Work Sans';
}

.fs10-fw600 {
  font-size: 10px;
  font-weight: 600;
  font-family: 'Work Sans';
}

.fs10-fw700 {
  font-size: 10px;
  font-weight: 700;
  font-family: 'Work Sans';
}

.fs11-fw400 {
  font-size: 11px;
  font-weight: 400;
  font-family: 'Work Sans';
}

.fs11-fw500 {
  font-size: 11px;
  font-weight: 500;
  font-family: 'Work Sans';
}

.fs11-fw600 {
  font-size: 11px;
  font-weight: 600;
  font-family: 'Work Sans';
}

.fs11-fw700 {
  font-size: 11px;
  font-weight: 700;
  font-family: 'Work Sans';
}

.fs12-fw400 {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Work Sans';
}

.fs12-fw700 {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Work Sans';
}

/* with font-color  */

/* #a5a5a5   */

.fs12-fw600-clA5 {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #a5a5a5;
}

/* #FFFFFF  */

.fs12-fw500-clFF {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Work Sans';
  color: #ffffff;
}

.fs12-fw700-clFF {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Work Sans';
  color: #ffffff;
}

.fs13-fw700-clFF {
  font-size: 13px;
  font-weight: 700;
  font-family: 'Work Sans';
  color: #ffffff;
}

/* #444444  */

.fs12-fw400-cl44 {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #444444;
}

.fs13-fw600-cl44 {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #444444;
}

.fs14-fw700-cl44 {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Work Sans';
  color: #444444;
}

.fs20-fw700-cl44 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Work Sans';
  color: #444444;
}

/* #555555 */

.fs10-fw400-cl55 {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #555555;
}

/* #6f6f6f  */

.fs13-fw500-cl6F {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Work Sans';
  color: #6f6f6f;
}

/* #616161 */

.fs11-fw400-cl61 {
  font-size: 11px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #616161;
}

.fs12-fw500-cl61 {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Work Sans';
  color: #616161;
}

.fs12-fw600-cl61 {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #616161;
}

/*  #8b8b8b */

.fs12-fw400-cl8B {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #8b8b8b;
}
.fs13-fw400-cl8B {
  color: #8b949e;
  font-family: 'Work Sans';
  font-size: 13px;
  font-weight: 400;
}

.fs13-fw600-cl8B {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #8b8b8b;
}

/* #858585 */

.fs10-fw400-cl85 {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #858585;
}

.fs12-fw400-cl85 {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #858585;
}

/*  #8F8F8F  */

.fs11-fw400-cl8F {
  font-size: 11px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #8f8f8f;
}

.fs12-fw500-cl8F {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Work Sans';
  color: #8f8f8f;
}

.fs13-fw600-cl8F {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #8f8f8f;
}

/* 9F9F9F */

.fs10-fw500-cl9F {
  font-size: 10px;
  font-weight: 500;
  font-family: 'Work Sans';
  color: #9f9f9f;
}

/* text-align */

.txt-al-cnt {
  text-align: center;
}
