.fs10-fw400 {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Work Sans';
}

.fs10-fw400-cl55 {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #555555;
}
.fs10-fw400-cl85 {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #858585;
}

.fs10-fw500 {
  font-size: 10px;
  font-weight: 500;
  font-family: 'Work Sans';
}

.fs10-fw600 {
  font-size: 10px;
  font-weight: 600;
  font-family: 'Work Sans';
}

.fs10-fw700 {
  font-size: 10px;
  font-weight: 700;
  font-family: 'Work Sans';
}

.fs11-fw400-cl61 {
  font-size: 11px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #616161;
}

.fs11-fw500 {
  font-size: 11px;
  font-weight: 500;
  font-family: 'Work Sans';
}

.fs11-fw600 {
  font-size: 11px;
  font-weight: 600;
  font-family: 'Work Sans';
}

.fs11-fw700 {
  font-size: 11px;
  font-weight: 700;
  font-family: 'Work Sans';
}

.fs12-fw400 {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Work Sans';
}

.fs12-fw400-cl85 {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #858585;
}
.fs12-fw400-cl8B {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Work Sans';
  color: #8b8b8b;
}

.fs12-fw500-cl61 {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Work Sans';
  color: #616161;
}
.fs12-fw500-clFF {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Work Sans';
  color: #ffffff;
}

.fs12-fw600-cl61 {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #616161;
}

.fs12-fw600-clA5 {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #a5a5a5;
}

.fs12-fw700 {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Work Sans';
}

/* Additional Font Size Classes */
.fs13 {
  font-size: 13px;
  font-family: 'Work Sans';
}

.fs13-fw500-cl6f {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #6f6f6f;
}

.fs14 {
  font-size: 14px;
  font-family: 'Work Sans';
}

.fs15 {
  font-size: 15px;
  font-family: 'Work Sans';
}

.fs16 {
  font-size: 16px;
  font-family: 'Work Sans';
}

.fs17 {
  font-size: 17px;
  font-family: 'Work Sans';
}

.fs18 {
  font-size: 18px;
  font-family: 'Work Sans';
}

.fs19 {
  font-size: 19px;
  font-family: 'Work Sans';
}

.fs20 {
  font-size: 20px;
  font-family: 'Work Sans';
}
