/* Margin Top */
.mt5px {
  margin-top: 5px;
}

.mt10px {
  margin-top: 10px;
}

.mt15px {
  margin-top: 15px;
}

.mt20px {
  margin-top: 20px;
}

.mt30px {
  margin-top: 30px;
}

/* Margin Bottom */

.mb0 {
  margin-bottom: 0;
}

.mb2px {
  margin-bottom: 2px;
}

.mb5px {
  margin-bottom: 5px;
}

.mb10px {
  margin-bottom: 10px;
}

.mb15px {
  margin-bottom: 15px;
}

.mb20px {
  margin-bottom: 20px;
}

/* Margin Left */

.ml5px {
  margin-left: 5px;
}

.ml10px {
  margin-left: 10px;
}

.ml15px {
  margin-left: 15px;
}

.ml20px {
  margin-left: 20px;
}

.ml30px {
  margin-left: 20px;
}

/* Margin Right */

.mr2 {
  margin-right: 2%;
}

.mr3 {
  margin-right: 3%;
}

.mr5 {
  margin-right: 5%;
}

.mr5px {
  margin-right: 5px;
}

.mr10px {
  margin-right: 10px;
}

.mr15px {
  margin-right: 15px;
}

.mr20px {
  margin-right: 20px;
}

.mr40px {
  margin-right: 40px;
}

.mr165px {
  margin-right: 165px;
}

/* overflow-y */

.scroll-y {
  overflow-y: scroll;
}

.scroll-auto {
  overflow: auto;
}

.scroll-overlay {
  overflow: overlay;
}

.scroll-visible {
  overflow-y: visible;
}
