/* padding */

.p0 {
  padding: 0;
}

.p6 {
  padding: 6%;
}

.p5px {
  padding: 5px;
}

.p10px {
  padding: 10px;
}

.p15px {
  padding: 15px;
}

.p15px {
  padding: 15px;
}

.pl20px {
  padding: 20px;
}

.p105px {
  padding: 105px;
}

/* Padding Top */

.pt5px {
  padding-top: 5px;
}

.pt10px {
  padding-top: 10px;
}

.pt15px {
  padding-top: 15px;
}

.pt20px {
  padding-top: 20px;
}

.pt30px {
  padding-top: 30px;
}

.pt50px {
  padding-top: 50px;
}

/* Padding Bottom */
.pb0 {
  padding-bottom: 0;
}

.pb2px {
  padding-bottom: 5px;
}

.pb5px {
  padding-bottom: 5px;
}

.pb10px {
  padding-bottom: 10px;
}

.pb15px {
  padding-bottom: 15px;
}

.pb20px {
  padding-bottom: 20px;
}

/* Padding Left */

.pl3 {
  padding-left: 3%;
}

.pl2 {
  padding-left: 2%;
}

.pl5px {
  padding-left: 5px;
}

.pl10px {
  padding-left: 10px;
}

.pl15px {
  padding-left: 15px;
}

.pl2Opx{
  padding-left: 20px;
}

.pl30px {
  padding-left: 30px;
}
/* Padding Right */

.pr5px {
  padding-right: 5px;
}

.pr10px {
  padding-right: 10px;
}

.pr15px {
  padding-right: 15px;
}

.pr20px {
  padding-right: 20px;
}

/* padding-none */

.ptnone {
  padding-top: none;
}
