/* Width Classes */

/*  min-width */
.wdmin180 {
  min-width: 180px;
}

/* max-width */

.wdmax750 {
  max-width: 750px;
}
/* width */

.wd10 {
  width: 10px;
}
.wd100 {
  width: 100%;
}
.wd12p {
  width: 12px;
}

.wdfc {
  width: fit-content;
}

.wdmc {
  width: max-content;
}

.wdminc {
  width: min-content;
}

/* Height Classes */

.ht12p {
  height: 12px;
}

.ht10p {
  height: 10px;
}
.ht5p {
  height: 16px;
}

.ht100 {
  height: 100%;
}

.htfc {
  height: fit-content;
}

.htmc {
  height: max-content;
}

.htminc {
  height: min-content;
}

